* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 1205px;
    margin: 0 auto;
}

@media only screen and (max-width: 1280px) {
    .container {
        width: 900px;
    }
}

@media only screen and (max-width: 940px) {
    .container {
        width: 600px;
    }
}

@media only screen and (max-width: 647px) {
    .container {
        width: 320px;
    }
}