/*Footer =====================*/

footer {
    border-radius: 90%;
    padding-top: 20px;
    background-color: rgb(57, 163, 115);
    height: 300px;
}

.footer_inner {
    display: flex;
    justify-content: space-between;
}

.logoFooter {
    text-align: left;
    line-height: normal;
    font-size: 32px;
    color: rgb(33, 87, 72);
    font-weight: 700;
}

.logoFooter span {
    color: #7c3517;
}

.footer_contacts h5 {
    margin-bottom: 24px;
    color: #c0c985;
    font-weight: 700;
    font-size: 24px;
}

.footer_contacts ul {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.footer_contacts ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #bbb;
    font-size: 16px;
}

.hide {
    display: none;
}

@media only screen and (max-width: 640px) {
    footer {
        height: auto;
        padding: 60px 0;
    }
    .footer_inner {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}